<article class="contact active" data-page="contacto">

    <header>
        <h2 class="h2 article-title">Contacto</h2>
    </header>

    <section class="contact-form">

        <h3 class="h3 form-title title_desarrolladores">Docentes Involucrados</h3>
        <br>

        <div class="contenedor_foto_docente">
            <div>
                <figure class="targeta_foto_docente">
                    <div>
                        <img class="fotosAdminDocente" src="../../assets/img/logos/logoEspe.png" alt="">
                    </div>
                    <h4 class="h4 form-title">Veronica Martines</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Docente de Apoyo</h5>
                        <p>09xxxxxxxx</p>
                        <p>xxxxxxxxxx1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto_docente">
                    <div>
                        <img class="fotosAdminDocente" src="../../assets/img/logos/logoEspe.png" alt="">
                    </div>
                    <h4 class="h4 form-title">Luis Castillo</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Director de Proyecto</h5>
                        <p>09xxxxxxxx</p>
                        <p>xxxxxxxxxx1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto_docente">
                    <div>
                        <img class="fotosAdminDocente" src="../../assets/img/logos/logoEspe.png" alt="">
                    </div>
                    <h4 class="h4 form-title">Edwin Camino</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Docente de Apoyo</h5>
                        <p>09xxxxxxxx</p>
                        <p>xxxxxxxxxx1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>
        </div>

    </section>

</article>