<article class="about active" data-page="nosotros">

    <header>
        <h2 class="h2 article-title">Sobre Nosotros</h2>
    </header>

    <section>

        <div class="img_general_mosotros">
            <img class="imagenNosotros" src="../../assets/img/logos/ESPE.png" alt="Nosotros">
        </div>

        <p class="service-item-text">
            En nuestro sitio web, nos enfocamos en proporcionar a la comunidad una plataforma segura y confiable para
            tener acceso a información estadística relevante. Creemos que la seguridad es un derecho fundamental y
            estamos comprometidos en ofrecer herramientas prácticas y efectivas para prevenir incidentes en nuestra
            comunidad.
        </p>

        <h3 class="h3 form-title title_desarrolladores">Desarrolladores Web</h3>

        <div class="contenedor_foto">
            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/JosueVelasquez.png" alt="Josue Velasquez">
                    </div>
                    <h4 class="h4 form-title">Josue Velasquez</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0980167849</p>
                        <p>ajvelasquez4@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/MonicaJara.jpg" alt="Monica Jara">
                    </div>
                    <h4 class="h4 form-title">Mónica Jara</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0988233795</p>
                        <p>mejara1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/BrandonBermello.jpg" alt="Brandon Bermello">
                    </div>
                    <h4 class="h4 form-title">Brandon Bermello</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0963358642</p>
                        <p>bjbermello@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>
        </div>

        <br>
        <h3 class="h3 form-title title_desarrolladores">Desarrolladores Móvil</h3>

        <div class="contenedor_foto">
            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/LeslyGaibor.jpg" alt="Lesly Gaibor">
                    </div>
                    <h4 class="h4 form-title">Lesly Gaibor</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0961803825</p>
                        <p>lcgaibor@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/MelanyCaicedo.jpg" alt="Melany Caicedo">
                    </div>
                    <h4 class="h4 form-title">Melany Caicedo</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0967749844</p>
                        <p>mkcaicedo@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/BrayanPonce.jpg" alt="Bryan Ponce">
                    </div>
                    <h4 class="h4 form-title">Bryan Ponce</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0999975039</p>
                        <p>bsponce1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>

            <div>
                <figure class="targeta_foto">
                    <div>
                        <img class="fotosAdmin" src="../../assets/img/administradores/MiguelAjila.jpg" alt="Miguel Ajila">
                    </div>
                    <h4 class="h4 form-title">Miguel Ajila</h4>
                    <hr class="separador_admins">
                    <div class="contenedor_info">
                        <h5>Estudiante</h5>
                        <p>0980422297</p>
                        <p>maajila1@espe.edu.ec</p>
                    </div>
                    <hr class="separador_admins">
                </figure>
            </div>
        </div>

    </section>

</article>