<article class="about  active" data-page="inicio">

    <header>
        <h2 class="h2 article-title">Inicio</h2>
    </header>

    <!--
      - ALERTAS
    -->

    <section class="service">

        <div class="contenedor_img_inicio">
            <div class="img_general_mosotros">
                <img class="portadaInicio" src="../../assets/img/portadas/MapaCalor.jpg" alt="Mapa de calor">
            </div>

            <h3 class="h3 service-title">¡AYUDA A MEJORAR LA SEGURIDAD EN TU COMUNIDAD!</h3>

            <p class="service-item-text centro_text">
                Nuestro sitio web, se basa principalmente en un mapa de calor para observar claramente los puntos de
                alta
                densidad de incidentes y conocer los reportes estadísticos sobre los tipos de incidentes más comunes en
                la
                zona Luz de América.
            </p>
            <br>
            <p class="service-item-text centro_text">
                Cuenta con reportes estadísticos que son fáciles de entender para cualquier persona, desde residentes
                hasta autoridades locales. Al navegar por nuestro sitio web, podrás filtrar los incidentes por
                ubicación,
                tipo de incidente, fecha y hora.
            </p>
        </div>
        <br>


        <h3 class="h3 service-title">Información Específica</h3>

        <ul class="service-list">

            <li class="service-item">

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">SEÑAL DE AYUDA</h4>

                    <p class="service-item-text">
                        Ubicación de la señal de ayuda. <br>
                        Hora en la que se envio la señal.
                    </p>
                </div>

            </li>

        </ul>

    </section>

    <!--<h3 class="h3 service-title">Mapa de calor</h3>

    <section class="mapbox">
        <div id="map" style="height: 100%"></div>
    </section>-->


    <!--
        - testimonials modal
      -->

    <div class="modal-container" data-modal-container>

        <div class="overlay" data-overlay></div>
        <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>

        </section>

    </div>

</article>